<h3>Tìm kiếm suất chiếu</h3>
<form method="GET" action="/search/ans" class="form-inline my-2 my-lg-0 mt-4">
  {{!-- <input class="form-control mr-sm-2" type="search" placeholder="Mã rạp" name="Marap"> --}}
  <div class="form-group">
    <label for="exampleFormControlSelect1">Chọn rạp phim</label>
    <select class="form-control" id="exampleFormControlSelect1" placeholder="Mã rạp" name="Marap">
      {{#each rp}}
      <option>{{this.Marap}}</option>
      {{/each}}
    </select>
  </div>
<input type="text" id="my_date_picker" name="Ngaychieu" placeholder="Ngày chiếu" class="form-control mr-sm-2">

<script>
  $(document).ready(function () {
    $(function () {
      $("#my_date_picker").datepicker({
        changeYear: true,
        dateFormat: 'dd-mm-yy'
      });
    });
  }) 
</script>


  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

</form>

<div class="mt-4">
  <div class="row">
    {{#each sc}}
    <div class="col-sm-6 col-lg-3 mb-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <a href="#">
            <h5 class="card-title">{{this.Masuatchieu}}</h5>
          </a>
          <p class="card-text">Ngày chiếu: {{formatDate this.Ngaychieu}}</p>
          <p class="card-text">Giờ bắt đầu: {{formatTime this.Giobatdau}}</p>
          <p class="card-text">Giờ kết thúc: {{formatTime this.Gioketthuc}}</p>
          <p class="card-text">Mã phòng: {{this.Maphong}}</p>
          <p class="card-text">Mã phim: {{this.Maphim}}</p>
          <p class="card-text">Mã dinh dang phim: {{this.Madinhdangphim}}</p>
          <p class="card-text">Mã phòng: {{this.Maphong}}</p>
          <p class="card-text">Trạng thái: {{this.Trangthai}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

